.pingContainer {
    display: flex;
    padding-left: 250px;
    flex-direction: row;
    align-items: center;
}

.pingimg img {
    border: 1px solid #8919f8;
    border-radius: 19px;
    border-width: 8px;
    width: 930px;
    height: 550px;
    transition: transform .3s;
}

.pingimg img:hover {
    transform: scale(1.1);
}

.pingimg {
    padding-top: 10px;
    padding-left: 50px;
    margin-bottom: 20px;
}