*
{
    font-family: var(--font-family);
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    height: 120%;
} 
.card{
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #424a72;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(66, 105, 154, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 530px;
}
.container .card .imgbox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgbox img{
    max-width: 100%;
    border-radius: 4px;
    transition: transform .3s;
}
/* .imgbox img:hover{
     transform: scale(1.2);
} */
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #f3e8e8;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -14px;
    margin-bottom: -10px;
    transition-delay: 0.3s;
}
.content p{
    color: rgb(145, 225, 243);
    text-align: justify;
    margin-top: 17px;
    position: relative;
}
.card h1{
    margin-top: 20px;
    position:relative;
}
