.gpt__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gpt__header-content {
    flex: 1.5;
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
}
.gpt__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.gpt__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}
.gpt__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}
.gpt__header-content__input p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgb(173, 204, 217);
    margin-top: 1.2rem;
}


.gpt__header-content__people{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    justify-content: flex-start;
    align-items: center;
    

    margin-top: 2rem;
}

.gpt__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.gpt__header-content__people p{
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 38px;
text-align: center;
margin: 0 0 0 1rem;

color: #FFFFFF;
}
.gpt__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 170px;
    cursor: pointer;
}
.gpt__header-image img {
    width: 65%;
    height: 90%;
    border-radius: 15px;
    margin-bottom: 60px;
    margin-top: 80px;
    transition: transform .3s;
    
}
.gpt__header-image img:hover{

transform: scale(1.3) rotate(5deg);
}

@media screen and (max-width: 1050px) {
    .gpt__header {
        flex-direction: column;
    }

    .gpt__header-content {
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 650px) {
    .gpt__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .gpt__header-content__people {
        flex-direction: column;
    }

    .gpt__header-content__people p {
        margin: 0;
    }

    .gpt__header-content__input input,
    .gpt__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}